body {
  background-color: rgb(236, 152, 42);
}

.center {
  width: 100%;
  height: 50%;
  margin: 0;
  top: 30%;
  left: 50%;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 80px;
}

p1 {
  white-space: pre-line;
  font-size: 30px;
}

.row {
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
